wf_console @ git+https://github.com/westonforbes/wf_console.git@e397763eaf7c84510cfc767705e7bf58b8e5be48
future==1.0.0
iso8601==2.1.0
numpy==2.3.4
pandas==2.3.3
pyserial==3.5
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.3
six==1.17.0
tzdata==2025.2